#after_press{
    width: 70%;
    background-color:#4e9caf;
    border-radius: 25px;
    text-align: center;
    margin: auto;
    
}

#keycode{
    font-size:100px;
}

.style{
    margin: 5px;
    padding: 10px;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 5px;
    color: rgb(133, 77, 105);
     
}